input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #808080;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #808080;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #808080;
}

input::placeholder, textarea::placeholder {
  color: #808080;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #080808;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #080808;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #080808;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #f5f5f5;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #f5f5f5;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #f5f5f5;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #434241;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 100%;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: #fdfdfd;
  outline: none;
  color: #080808;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #E5E5E5;
  color: #080808;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 333px;
  padding: 0px 15px 0px 15px;
  
  background: #fdfdfd;
  outline: none;
  
  color: #080808;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #E5E5E5;
  color: #080808;
}

#submit {
  width: 100%;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #000000;
  background: #E5E5E5;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #f8f8f8;
  border-top: none;
}

#submit:hover {
  color: #E5E5E5;
  background: #080808
}
